
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>  
        <h3> Kategorilerim </h3>
        <table>
            <tr>
                <th>Kategori Id</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>

            </tr>

            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>

            </tr>

            <tr>
                <td>1A</td>
                <td>2A</td>
                <td>3A</td>
                <td>4A</td>

            </tr>

        </table>            
    </div>
</body>
</html>
